/* https://www.myfonts.com/fonts/linotype/avenir/webfont_preview.html */
/*
font-family: 'Avenir 35 Light'
font-family: 'Avenir 55 Roman'
font-family: 'Avenir 85 Heavy'
font-family: 'Avenir 65 Medium'
*/

html, body {
/*	background: #000;*/
	margin: 0;
	padding: 0;
	
	font-family: 'Avenir 35 Light', Helvetica, sans-serif;

	color: #666666;
/*	color: #ccc;*/ 
}

.column {
	width: 48%;
/*	padding-bottom: 48%;*/
	padding: 1%;
	display: inline-block;
}

#column1 {
/*	background: #123456;*/
	position: fixed;
}

#column2 {
/*	background: #654321;*/
	float: right;
	overflow-y: auto;
}


#site {
/*	margin-left: -5%;*/
}


a {
    color: #666666;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    text-decoration: none;
}

a:hover {
    color: #428bca;
}

.list_2 {
	list-style: none;
}

.list_inline {
    padding-left: 0;
    margin-left: -5px;
}

.list_inline>li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}

.list_stacked {
	padding-start: 0;
	-webkit-padding-start: 0;
}

.list_stacked>li {
	border-width: 1px;
	border-color: rgba(128, 128, 128, 0.25);
	border-style: solid;
	margin-top: 1%;
	width: 96%;
	padding: 2%;
}

.hide { 
	display: none;
}

.show {
	display: block;
}

#icon_p {
	background: url(../img/polyworks_title.png) no-repeat center;
	background-size: contain;
	width: 100%;
	padding-bottom: 75%;
	left: 0%;
	margin-bottom: 1%;
	position: relative;
}

.container {
/*	background: #123456;*/
	width: 100%;
	position: relative;
}

#nav {
	width: 100%;
/*	float: right;*/
}
/*.nav_button {*/

.nav_btn {
	display: inline-block;
	cursor: pointer;
}

.left_nav_btn {
	margin-right: 3%;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn_lg {
/*    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
*/}

.btn_default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

#games_nav {
	float: right;
}

.centered_text {
	text-align: center;
}

.blue1 {
/*	color: #7a839c;*/
	color: rgb(122,131,156);
}

.text_xl {
	font-size: 300%;
}
.text_lg {
	font-size: 150%;
}
.text_md {
	font-size: 100%;
}
.text_sm {
	font-size: 75%;
}
.text_xs {
	font-size: 50%;
}

.game_ss {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 100%;
	padding-bottom: 100%;
	margin-bottom: 2%;
}

#keke_ss {
	background-image: url(../img/keke_ss.png);
}

#farkle_ss {
	background-image: url(../img/farkle_ss.png);
}

#doy_ss {
	background-image: url(../img/doy_ss.png);
}

@media all and (max-width: 728px) {
	.column {
		width: 98%;
		display: block;
	}
	#column1 {
		position: relative;
	}
	#column2 {
		float: none;
	}
	#icon_p {
		width: 80%;
		padding-bottom: 60%;
		left: 10%;
	}
	.container {
		width: 80%;
		left: 10%;
	}

	.text_xl {
		font-size: 200%;
	}
	.text_lg {
		font-size: 110%;
	}

	.text_md {
		font-size: 85%;
	}

	.text_sm {
		font-size: 50%;
	}

	.text_xs {
		font-size: 25%;
	}
}
@media all and (max-width: 320px) {
	.column {
		width: 98%;
		display: block;
	}
	#column1 {
		position: relative;
	}
	#column2 {
		float: none;
	}
	#icon_p {
		width: 100%;
		padding-bottom: 75%;
		left: 0%;
	}
	.container {
		width: 100%;
		left: 0%;
	}

	.text_xl {
		font-size: 150%;
	}
	.text_lg {
		font-size: 5px;
	}

	.text_md {
		font-size: 50%;
	}

	.text_sm {
		font-size: 33%;
	}

	.text_xs {
		font-size: 10%;
	}
}
